In [1]:
import spacy
import pandas as pd
from nltk import edit_distance
import tqdm
from nltk.stem import SnowballStemmer
import nltk

2023-10-05 15:43:00.967680: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_excel("phonItalia 1.10 - word forms.xlsx")
df = df[['fqTot', 'gramCat', 'lemma', 'word', 'Phones']] # only keep relevant columns
df

        fqTot  gramCat         lemma          word        Phones
0       50518        P             a             a             a
1        5219  P IN P@             a             a             a
2        1544  P IN B@             a             a             a
3         272  P IN C@             a             a             a
4         234        S             a             a             a
...       ...      ...           ...           ...           ...
119995      5        E         zurli         zurli         Zurli
119996      2  E IN E@        zurli'        zurli'         Zurli
119997      1        E       zurlini       zurlini       Zurlini
119998      1        G  zuzzurellone  zuzzurellone  ZuZZurellone
119999     12        E      zuzzurro      zuzzurro      ZuZZurro

[120000 rows x 5 columns]

In [3]:
phones = dict(zip(df['word'], df['Phones']))
df['lemma_phones'] = df['lemma'].apply(lambda i: phones.get(i, ''))
df

        fqTot  gramCat         lemma          word        Phones  lemma_phones
0       50518        P             a             a             a             a
1        5219  P IN P@             a             a             a             a
2        1544  P IN B@             a             a             a             a
3         272  P IN C@             a             a             a             a
4         234        S             a             a             a             a
...       ...      ...           ...           ...           ...           ...
119995      5        E         zurli         zurli         Zurli         Zurli
119996      2  E IN E@        zurli'        zurli'         Zurli         Zurli
119997      1        E       zurlini       zurlini       Zurlini       Zurlini
119998      1        G  zuzzurellone  zuzzurellone  ZuZZurellone  ZuZZurellone
119999     12        E      zuzzurro      zuzzurro      ZuZZurro      ZuZZurro

[120000 rows x 6 columns]

In [4]:
df = df[df['lemma_phones'] != df['Phones']] # remove uninflected words
df = df[df['lemma_phones'] != ''] # remove words with broken lemmas
df

        fqTot   gramCat     lemma      word   Phones lemma_phones
12          1         R        il         a        a           il
16          1         C         e         a        a            e
32          1  VA IN E@     avere        a'        a        avere
33          2         R        il        'a        a           il
45          1         S     abate     abati    abati        abate
...       ...       ...       ...       ...      ...          ...
119970     22         S  zucchina  zucchine  zukkine      zukkina
119979      2         S     zuffa     zuffe    zuffe        zuffa
119981      1         S    zufolo    zufoli   zufoli       zufolo
119988      6         S     zuppa     zuppe    zuppe        zuppa
119989      1         G     zuppo     zuppi    zuppi        zuppo

[58258 rows x 6 columns]

In [5]:
stemmer = nltk.stem.SnowballStemmer('italian')
df['nltk_stem'] = df['word'].apply(stemmer.stem)
df

        fqTot   gramCat     lemma      word   Phones lemma_phones nltk_stem
12          1         R        il         a        a           il         a
16          1         C         e         a        a            e         a
32          1  VA IN E@     avere        a'        a        avere        a'
33          2         R        il        'a        a           il        'a
45          1         S     abate     abati    abati        abate      abat
...       ...       ...       ...       ...      ...          ...       ...
119970     22         S  zucchina  zucchine  zukkine      zukkina   zucchin
119979      2         S     zuffa     zuffe    zuffe        zuffa      zuff
119981      1         S    zufolo    zufoli   zufoli       zufolo     zufol
119988      6         S     zuppa     zuppe    zuppe        zuppa      zupp
119989      1         G     zuppo     zuppi    zuppi        zuppo      zupp

[58258 rows x 7 columns]

In [ ]:
df.to_excel("dataset.xlsx")