In [1]:
import spacy
import pandas as pd

2023-09-08 13:31:08.342571: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
nlp = spacy.load("it_core_news_lg")

In [4]:
df = pd.read_excel("phonItalia 1.10 - word forms.xlsx")
df

,nLem,fqTot,fqTotL,fqQuo,fqPer,fqLib,dispT,dispQ,dispP,dispL,...,OLD,OLDF,OLD_RelFreq,PLD,PLDF,PLD_RelFreq,BG_Sum,BG_Mean,BP_Sum,BP_Mean
0,3560,50518,10.830085,23982,17679,8857,0.99,0.99,0.99,0.99,...,1.00,6.004370,1.8037,1.00,6.758153,1.602521,0,0.000000,0,0.000000
1,3560,5219,8.560061,2391,1948,880,0.99,0.99,0.98,0.99,...,1.00,6.004370,1.425639,1.00,6.758153,1.266627,0,0.000000,0,0.000000
2,3560,1544,7.342132,537,625,382,0.97,0.99,0.99,0.97,...,1.00,6.004370,1.222798,1.00,6.758153,1.086411,0,0.000000,0,0.000000
3,3560,272,5.605802,112,80,80,0.94,0.96,0.90,0.95,...,1.00,6.004370,0.93362,1.00,6.758153,0.829487,0,0.000000,0,0.000000
4,3562,234,5.455321,109,107,18,0.84,0.76,0.79,0.79,...,1.00,6.004370,0.908558,1.00,6.758153,0.807221,0,0.000000,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,89330,5,1.609438,5,0,0,0.00,0.00,0.00,0.00,...,1.85,1.790223,0.899015,1.90,1.499083,1.073615,196047,49011.750000,135076,33769.000000
119996,89331,2,0.693147,2,0,0,0.00,0.00,0.00,0.00,...,2.45,0.910700,0.761115,1.90,1.499083,0.462381,205893,41178.601563,135076,33769.000000
119997,89332,1,0.000000,1,0,0,0.00,0.00,0.00,0.00,...,2.40,1.129599,0,2.35,1.007284,0,509593,84932.164063,432115,72019.164063
119998,89334,1,0.000000,0,1,0,0.00,0.00,0.00,0.00,...,5.50,1.142923,0,5.70,0.947322,0,1068756,97159.632813,969221,88111.000000
119999,89335,12,2.484907,6,6,0,0.35,0.44,0.10,0.00,...,3.60,2.700312,0.920229,3.60,2.513429,0.988652,222726,31818.000000,176269,25181.285156

In [5]:
df = df[['gramCat', 'lemma', 'word']] # only keep relevant columns
df

        gramCat         lemma          word
0             P             a             a
1       P IN P@             a             a
2       P IN B@             a             a
3       P IN C@             a             a
4             S             a             a
...         ...           ...           ...
119995        E         zurli         zurli
119996  E IN E@        zurli'        zurli'
119997        E       zurlini       zurlini
119998        G  zuzzurellone  zuzzurellone
119999        E      zuzzurro      zuzzurro

[120000 rows x 3 columns]

In [17]:
import tqdm

df['morph'] = ''
df['pos'] = ''
for idx, row in tqdm.tqdm(df.iterrows()):
    try:
        tok = nlp(row['word'])[0]
        df.loc[idx, 'morph'] = tok.morph
        df.loc[idx, 'pos'] = tok.pos_
    except Exception as e:
        print(e, idx, row)

/var/folders/my/xjpgt3ss01991yghb67xgjs80000gn/T/ipykernel_10821/1327755903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['morph'] = ''
/var/folders/my/xjpgt3ss01991yghb67xgjs80000gn/T/ipykernel_10821/1327755903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pos'] = ''
0it [00:00, ?it/s]/var/folders/my/xjpgt3ss01991yghb67xgjs80000gn/T/ipykernel_10821/1327755903.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[idx, 'morph'] = tok.morph
/var/folders/my/xjpgt3ss01991yghb67xgjs80000gn/T/ipykernel_10821/1327755903.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[idx, 'pos'] = tok.pos_
41406it [02:38, 265.02it/s]

[E1041] Expected a string, Doc, or bytes as input, but got: <class 'bool'> 41364 gramCat        G
lemma      falso
word       False
morph
pos
Name: 41364, dtype: object

120000it [07:56, 252.07it/s]

In [18]:
df['morph'].value_counts()

(Gender=Fem, Number=Sing)                                                                    15820
(Gender=Masc, Number=Sing)                                                                   15177
(Gender=Masc, Number=Plur)                                                                   12680
(Gender=Fem, Number=Plur)                                                                     9478
()                                                                                            7897
                                                                                             ...
                                                                                                 1
(Clitic=Yes, Gender=Masc, Number=Sing, Person=3, PronType=Prs, Tense=Past, VerbForm=Part)        1
(Clitic=Yes, Gender=Masc, Number=Plur, Number=Sing, Person=3, PronType=Prs, VerbForm=Inf)        1
(Clitic=Yes, Number=Plur, PronType=Prs, VerbForm=Inf)                                            1
(PronType=Int)                                                                                   1
Name: morph, Length: 164, dtype: int64

In [19]:
df

,gramCat,lemma,word,morph,pos
0,P,a,a,(),ADP
1,P IN P@,a,a,(),ADP
2,P IN B@,a,a,(),ADP
3,P IN C@,a,a,(),ADP
4,S,a,a,(),ADP
...,...,...,...,...,...
119995,E,zurli,zurli,"(Clitic=Yes, Gender=Masc, Number=Plur, Person=...",VERB
119996,E IN E@,zurli',zurli',"(Clitic=Yes, Gender=Masc, Number=Plur, Person=...",VERB
119997,E,zurlini,zurlini,(),PROPN
119998,G,zuzzurellone,zuzzurellone,"(Clitic=Yes, PronType=Prs, VerbForm=Ger)",VERB
119999,E,zuzzurro,zuzzurro,"(Gender=Masc, Number=Plur)",ADJ

In [20]:
df.to_excel("ita_morph_pos.xlsx")